# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.mypy_cache/
env/
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

#Javascript log
conversion/js/series-conversion.log

# some jupyter internal folder

notebooks/.ipynb*